
<form>

  <div class="form-group">
    <label for="title">Title : </label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="form-group">
    <label for="description">Description : </label>
    <textarea class="form-control" rows="5" id="description"></textarea>
  </div> 
  <div class="form-group row">
    <label for="example-Price-input" class="col-2 col-form-label">Price</label>
    <div class="col-10">
      <input class="form-control" type="number" id="example-Price-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-quentity-input" class="col-2 col-form-label">Quentity</label>
    <div class="col-10">
      <input class="form-control" type="number" id="example-quentity-input">
    </div>
  </div>
  <div class="form-group">
    <label for="cat">Category list :</label>
    <select class="form-control" id="cat">
      <option>cat1</option>
      <option>cat2</option>
      <option>cat3</option>
      <option>cat4</option>
    </select>
  </div> 
  <div class="form-group">
    <label for="bra">Brand list :</label>
    <select class="form-control" id="bra">
      <option>bra1</option>
      <option>bra2</option>
      <option>bra3</option>
      <option>bra4</option>
    </select>
  </div> 
  <div class="form-group">
    <label for="exampleInputFile">Select Image : </label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
  </div>
  <input type="hidden" id="storeId" name="storeId" value="1">
  <button type="submit" class="btn btn-primary">Create Product</button>
</form>

<!-- <%= simple_form_for @user, url: examples_vertical_path do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>

  <%= f.input :email, input_html: { autocomplete: 'email' } %>

  <%= f.input :password, input_html: { autocomplete: 'current-password' } %>

  <%= f.input :avatar, as: :file, input_html: { accept: User::AVATAR } %>

  <%= f.input :bio %>

  <%= f.input :birthday %>

  <%= f.input :color, as: :radio_buttons, collection: User::COLOR, wrapper: :vertical_collection_inline %>

  <%= f.input :fruit, as: :check_boxes, collection: User::FRUIT, wrapper: :vertical_collection_inline %>

  <%= f.input :music, collection: User::MUSIC, input_html: { multiple: true } %>

  <%= f.input :language, collection: User::LANGUAGE, prompt: :translate %>

  <%= f.input :pill, as: :radio_buttons, collection: User::PILL %>

  <%= f.input :choises, as: :check_boxes, collection: User::CHOISES %>

  <%= f.input :friends %>

  <%= f.input :mood, as: :range %>

  <%= f.input :awake %>

  <%= f.input :first_kiss %>

  <%= f.input :active, as: :radio_buttons %>

  <%= f.input :terms %>

  <%= f.button :submit, class: "btn-primary" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
<% end %> -->
